@using Newtonsoft.Json;
@using TPA.Common.Core.Model;
@model TPAClaim
@{
    ViewBag.Title = "ProviderReport";
}
<style>
    #tblClaims_filter {
        float: right !important;
    }

    table th {
        color: white !important;
    }

    .hide_column {
        display: none;
    }
</style>
<div class="kt-portlet kt-portlet--mobile pea-page" style="        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);">
    <div class="kt-portlet__head" style="background: #F35869 !important;min-height:42px;border-radius:4px;">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="fas fa-chart-bar text-white"></i>
            </span>
            <h3 class="kt-portlet__head-title text-white">
                Get Report By
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form method="post" action="/Reports/ServiceProviderExcel">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row kt-margin-b-20">
                        <div class="col-lg-4 kt-margin-b-10">
                            <label>Select Provider :</label>
                            <input type="text" class="form-control kt-input" id="txtProvider">
                        </div>

                        <div class="col-lg-4">
                            <label>Select Contractor :</label>
                            <input type="text" class="form-control kt-input" id="txtContactractor">
                        </div>

                        <div class="col-lg-4 kt-margin-b-10">
                            <label>Company Name :</label>
                            <input type="text" class="form-control kt-input" id="txtCompanyName" />
                        </div>

                        <div class="col-lg-4">
                            <label>Employee Name :</label>
                            <input type="text" class="form-control kt-input" id="txtEmployeeName">
                        </div>

                        <div class="col-lg-4 kt-margin-b-10">
                            <label>From Date :</label>
                            <div class="input-group date" id="ToDateDateHolder">
                                <input type="text" class="form-control kt-input" id="txtFromDate" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="flaticon-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 kt-margin-b-10">
                            <label>To Date :</label>
                            <div class="input-group date" id="ToDateDateHolder">
                                <input type="text" class="form-control kt-input" id="txtToDate" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="flaticon-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 kt-margin-b-10">
                            <label>Employee Insurance Id :</label>
                            <input type="text" class="form-control kt-input" id="txtEmployeeInsuranceId">
                        </div>

                        <div class="col-lg-3 kt-margin-b-10">
                            <label>Status :</label>
                            @Html.DropDownListFor(m => m.StatusID, Dropdowns.GetStatus(), new { @class = "form-control kt-input dropDownSelect2", id = "ddlStatusId" })
                        </div>

                        <div class="col-lg-3 kt-margin-b-10">
                            <label>Visit Type :</label>
                            @Html.DropDownListFor(m => m.VisitTypeID, Dropdowns.GetVisitTypes(), new { @class = "form-control kt-input dropDownSelect2", id = "ddlVisitTypeId" })
                        </div>

                        <div class="col-lg-3 kt-margin-b-10">
                            <label>Claim Id :</label>
                            <input type="text" class="form-control kt-input" id="txtClaimId">
                        </div>

                        <div class="col-m-3 kt-margin-r-20 kt-margin-l-10 kt-margin-t-20" id="exportButtonHolder">
                            <button class="btn btn-success" type="submit" id="exportxls"><i class="fas fa-file-excel"></i>export XLS</button>
                        </div>
                        <div class="col-m-3 kt-margin-r-20  kt-margin-t-20">
                            <button type="button" class="btn btn-primary" onclick="searchServiceProviderReportsByFilters();"><i class="fas fa-search"></i>Search</button>
                        </div>
                        <div class="col-m-3 kt-margin-t-20">
                            <button class="btn btn-danger" type="button" onclick="clearReportsFilters();"><i class="fas fa-eraser"></i>Clear</button>
                        </div>
                    </div>
                </div>
            </div>
</form>

            <!--begin: Datatable -->

            <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12" id="reportDiv" style="display: none;">
                        <table class="table table-striped- table-bordered table-hover table-checkable table-responsive" id="myDatatable" style="width:100% !important;overflow-x: auto !important">
                            <thead>
                                <tr style="background-color: #00000061 !important;">
                                    <th data-field="ClaimNumber">Claim Number</th>
                                    <th data-field="InsuredName">Insured Name</th>
                                    <th data-field="Provider">Provider</th>
                                    <th data-field="Visittype">Visit Type</th>
                                    <th data-field="VisitDate">Visit Date</th>
                                    <th data-field="PaymentInfo">Payment Info</th>
                                    <th data-field="Status">Status</th>
                                    <th data-field="LastModified">Last Modified</th>
                                    <th data-field="ProviderNotes">Provider Notes</th>
                                    <th data-field="AuditorNotes">Auditor Notes</th>
                                    <th data-field="ServiceName">Service Name</th>
                                    <th data-field="ServiceType">Services Type</th>
                                    <th data-field="Servicesubtype">Services Sub Type</th>
                                    <th data-field="Coshareamount">Coshare amount</th>
                                    <th data-field="Insured">Insured</th>
                                    <th data-field="CoShareType">Co Share Type</th>
                                    <th data-field="CoShare">Co Share</th>
                                    <th data-field="ServiceStatus">Service Status</th>
                                    <th data-field="Symptoms">Symptoms</th>
                                    <th data-field="InsuranceCompany">Insurance Company</th>
                                    <th data-field="PolicyNumber">Policy Number</th>
                                    <th data-field="SubPolicy">Sub Policy</th>
                                    <th data-field="PaymentStatus">Payment Status</th>
                                    <th data-field="DOB">DOB</th>
                                    <th data-field="VisitorName">VisitorName</th>
                                    <th data-field="PaymentLastmodifiedby">Payment Last modified by</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!--end: Datatable -->
    </div>
</div>

@*<div class="kt-portlet kt-portlet--mobile pea-page" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);">
    <div class="kt-portlet__head">
    </div>
    <div class="kt-portlet__body">
        <div class="row">
        </div>
    </div>
</div>*@
@section scripts
    {
    @*<script src="~/Scripts/Common/Common.js" type="text/javascript"></script>*@
    @Scripts.Render("~/Scripts/Datatable/Datatable/datatables.min.js")
    <script type="text/javascript">
    $(document).ready(function () {
        $("#txtToDate").datepicker();
        $("#txtFromDate").datepicker();
    });

    //for search Service Provider Reports By Filters
    @*function searchServiceProviderReportsByFilters() {
         var reportSearchModel = {
            searchProvider: $("#txtProvider").val(),
            searchContactractor: $("#txtContactractor").val(),
            searchCompanyName: $("#txtCompanyName").val(),
            searchEmployeeName: $("#txtEmployeeName").val(),
            searchFromDate: $("#txtFromDate").val(),
            searchToDate: $("#txtToDate").val(),
            searchEmployeeInsuranceId: $("#txtEmployeeInsuranceId").val(),
            searchStatusId: $("#ddlStatusId").val(),
            searchVisitTypeId: $("#ddlVisitTypeId").val(),
            searchClaimId: $("#txtClaimId").val(),
        };
        $.ajax({
             type: "POST",
            url: "@Url.Action("SearchServiceProviderReports", "Reports")",
             dataType: 'json',
            data: { reportSearchModel: reportSearchModel },
            $('#claimDatatable').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "language": {
                        "loadingRecords": "&nbsp;",
                        "sProcessing": "<i class='fas fa-spinner fa-2x text-success fa-spin'></i>",
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "Showing 0 to 0 of 0 entries",
                        "infoFiltered": "(filtered from _MAX_ total entries)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Show _MENU_ entries",
                        "loadingRecords": "Loading...",
                        "processing": "Processing...",
                        "search": "Search:",
                        "zeroRecords": "No matching records found",
                        "paginate": {
                            "first": "First",
                            "last": "Last",
                            "next": "Next",
                            "previous": "Previous"
                        },
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        }
                    },
                    "bDestroy": true,
                    "ajax": {
                        "url": serverUri,
                        "type": "Post",
                       "datatype": "json",
                        "data": function (d) {
                    },

                    "columns": [
                        { "data": "ClaimNumber", "name": "ClaimNumber", "autoWidth": true },
                        { "data": "InsuredName", "name": "InsuredName", "autoWidth": true },
                        { "data": "insuranceNo", "name": "insuranceNo", "autoWidth": true },
                        { "data": "visitType", "name": "visitType", "autoWidth": true },
                        { "data": "visitDate", "name": "visitDate", "autoWidth": true },

                        {
                            "data": "claimID", "orderable": false, "width": "8%", "render": function (data, type, row) {
                                return '<button type="button" class="btn btn-danger" >Services</button>';
                            }
                        },
                        {
                            "data": "claimID", "orderable": false, "width": "3%", "render": function (data, type, row) {
                                return '<button type="button" class="btn btn-sm btn-danger btn-icon" ><i class="fa fa-address-card"></i></button>';
                            }
                        },
                        {
                            "data": "claimID", "orderable": false, "width": "3%", "render": function (data, type, row) {
                                return '<button type="button" class="btn btn-sm btn-danger btn-icon" ><i class="fa fa-trash"></i></button>';
                            }
                        }
                    ],
                    "initComplete": function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                }).on('draw', function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });

            success: function () {

                $('#claimsList').show();

            }
        });
    }*@

    function searchServiceProviderReportsByFilters() {
                debugger;
                $('#reportDiv').show();
              var table =  $('#myDatatable').DataTable({
                    "filter": true,
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "language": {
                        "loadingRecords": "&nbsp;",
                        "sProcessing": "<i class='fas fa-spinner fa-2x text-success fa-spin'></i>",
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "Showing 0 to 0 of 0 entries",
                        "infoFiltered": "(filtered from _MAX_ total entries)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Show _MENU_ entries",
                        "loadingRecords": "Loading...",
                        "processing": "Processing...",
                        "search": "Search:",
                        "zeroRecords": "No matching records found",
                        "paginate": {
                            "first": "First",
                            "last": "Last",
                            "next": "Next",
                            "previous": "Previous"
                        },
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        }
                    },
                    "bDestroy": true,
                    "ajax": {
                        "url": "@Url.Action("SearchServiceProviderReports", "Reports")",
                        "type": "Post",
                        //"datatype": "json",
                        "data": function (d) {
                            searchProvider = $("#txtProvider").val(),
                            searchContactractor = $("#txtContactractor").val(),
                            searchCompanyName = $("#txtCompanyName").val(),
                            searchEmployeeName = $("#txtEmployeeName").val(),
                            searchFromDate = $("#txtFromDate").val(),
                            searchToDate=$("#txtToDate").val(),
                            searchEmployeeInsuranceId=$("#txtEmployeeInsuranceId").val(),
                            searchStatusId=$("#ddlStatusId").val(),
                            searchVisitTypeId=$("#ddlVisitTypeId").val(),
                            searchClaimId=$("#txtClaimId").val()
                        }
                    },
                    "columns": [

                        {
                            "data": "ClaimNumber", "name": "ClaimNumber", "autoWidth": true ,"sClass": "hide_column"

                        },
                        { "data": "InsuredName", "name": "InsuredName",  "autoWidth": true },
                        { "data": "Provider", "name": "Provider", "autoWidth": true },
                        { "data": "Visittype", "name": "Visittype", "autoWidth": true },
                        { "data": "VisitDate", "name": "VisitDate", "autoWidth": true},
                        {"data": "PaymentInfo", "name": "PaymentInfo", "autoWidth": true},
                        { "data": "Status", "name": "Status", "autoWidth": true },
                        { "data": "LastModified", "name": "LastModified", "autoWidth": true},
                        { "data": "ProviderNotes", "name": "ProviderNotes", "autoWidth": true},
                        { "data": "AuditorNotes", "name": "AuditorNotes", "autoWidth": true },
                        { "data": "ServiceName", "name": "ServiceName", "autoWidth": true },
                        { "data": "ServiceType", "name": "ServiceType", "autoWidth": true },
                        { "data": "Servicesubtype", "name": "Servicesubtype", "autoWidth": true },
                        { "data": "Coshareamount", "name": "Coshareamount", "autoWidth": true },
                        { "data": "Insured", "name": "Insured", "autoWidth": true },
                        { "data": "CoShareType", "name": "CoShareType", "autoWidth": true},
                        { "data": "CoShare", "name": "CoShare", "autoWidth": true },
                        { "data": "ServiceStatus", "name": "ServiceStatus", "autoWidth": true },
                        { "data": "Symptoms", "name": "Symptoms", "autoWidth": true },
                        { "data": "InsuranceCompany", "name": "InsuranceCompany", "autoWidth": true },
                        { "data": "PolicyNumber", "name": "PolicyNumber", "autoWidth": true },
                        { "data": "SubPolicy", "name": "SubPolicy", "autoWidth": true },
                        { "data": "PaymentStatus", "name": "PaymentStatus", "autoWidth": true },
                        { "data": "DOB", "name": "DOB", format: 'DD/MM/YYYY', "autoWidth": true},
                        { "data": "VisitorName", "name": "VisitorName", "autoWidth": true},
                        { "data": "PaymentLastmodifiedby", "name": "PaymentLastmodifiedby", "autoWidth": true},
                    ],
                    "initComplete": function () {
                        $('[data-toggle="tooltip"]').tooltip();

                    }
                }).on('draw', function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });

        //new $.fn.dataTable.Buttons(table, {
        //    buttons: [
        //        'excel'
        //    ]
        //});

        //var buttonContainer = table.buttons().container();
        //var excelButton = buttonContainer.find(".buttons-excel");
        //excelButton.addClass("btn-success").prepend(`<i class="fas fa-file-excel"></i>`);
        //excelButton.find("span").text("Export XLS")
        //buttonContainer.appendTo($('#exportButtonHolder'));
            }


    // use for clear reports filers
    function clearReportsFilters() {
        $("#txtProvider").val('');
        $("#txtContactractor").val('');
        $("#txtCompanyName").val('');
        $("#txtEmployeeName").val('');
        $("#txtFromDate").val('');
        $("#txtToDate").val('');
        $("#txtEmployeeInsuranceId").val('');
        $("#ddlStatusId").val('');
        $("#ddlVisitTypeId").val('');
        $("#txtClaimId").val('');
    };
    </script>

}



