@using Newtonsoft.Json;
@using TPA.Common.Core.Model;
@model Policy
@{
    ViewBag.Title = "ProviderReport";
    Layout = null;
}

<div class="kt-portlet kt-portlet--mobile pea-page">
    <div class="kt-portlet__head" style="background: #F35869 !important;min-height:42px;border-radius:4px;">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="fas fa-user text-white"></i>
            </span>
            <h3 class="kt-portlet__head-title text-white">
                @ViewBag.headerTitle
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        @Html.HiddenFor(m => m.Id, new { @class = "form-control kt-input", id = "txtPolicyId" })
        <div class="row">
            <div class="col-lg-12">
                <div class="row kt-margin-b-20">
                    <div class="col-lg-4 kt-margin-b-10">
                        <label style="font-weight:700">Policy No.</label>
                        @Html.TextBoxFor(m => m.PolicyNo, new { @class = "form-control kt-input", id = "txtPolicyNo" })
                    </div>

                    <div class="col-lg-4 kt-margin-b-10">
                        <label style="font-weight:700">Select Contractor </label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Contractor, new { @class = "form-control kt-input", id = "txtContractor" })
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-phone text-dark"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 kt-margin-b-10">
                        <label style="font-weight:700">Company Name</label>
                        @Html.TextBoxFor(m => m.CustomerCompany, new { @class = "form-control kt-input", id = "txtCustomerCompany" })
                    </div>

                    <div class="col-lg-4 kt-margin-b-10">
                        <label class="font-weight-bold">Policy Amount</label>
                        @Html.TextBoxFor(m => m.PolicyAmount, new { @class = "form-control kt-input", id = "txtPolicyAmount" })
                    </div>


                    <div class="col-lg-4 kt-margin-b-10">
                        <label style="font-weight:700">Contract Start Date :</label>
                        <div class="input-group date" id="ToDateDateHolder">
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control kt-input", id = "txtContractStartDate" })
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="flaticon-calendar text-dark"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 kt-margin-b-10">
                        <label style="font-weight:700">Contract Expiry Date :</label>
                        <div class="input-group date" id="ToDateDateHolder">
                            @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control kt-input", id = "txtContractExpiryDate" })
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="flaticon-calendar text-dark"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 kt-margin-b-10">
                        <label style="font-weight:700">Terms and Conditions :</label>
                        @Html.TextAreaFor(m => m.TermsAndConditions, new { @class = "form-control kt-input", id = "txtTermsAndConditions" })
                    </div>
                    <div class="col-m-3 kt-margin-t-20">
                        <button class="text-white btn  btn-primary ml-3" id="btnSavePolicy"><i class="fas fa-save"></i>Save</button>
                        <button class="btn text-white ml-3" data-dismiss="modal" aria-label="Close" style="background-color:red;"><i class="fas fa-window-close"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#txtContractStartDate").datepicker();
        $("#txtContractExpiryDate").datepicker();
    });

    //use for save  Policy
    $("#btnSavePolicy").on("click", function () {
                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("EditPolicy", "Customers")',
                    data: policy = {
                        Id : $("#txtPolicyId").val(),
                        PolicyNo : $("#txtPolicyNo").val(),
                        Contractor : $("#txtContractor").val(),
                        PolicyAmount : $("#txtPolicyAmount").val(),
                        CustomerCompany : $("#txtCustomerCompany").val(),
                        TermsAndConditions : $("#txtTermsAndConditions").val(),
                        StartDate : $("#txtContractStartDate").val(),
                        ExpiryDate : $("#txtContractExpiryDate").val()
                    },
                    success: function (data) {
                        wal.fire("Provider Added Successfully!");
                    }
                })
            });
</script>





